@import "~bootstrap/scss/bootstrap";
@import "./Typography";


body {
  font-family: $fontFamily;
  font-size: $fontSizeL;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin-bottom: 1.2em;
}

p {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 2em;
  }
}

b {
  font-weight: 500;
}

svg {
  & * {fill: currentColor;}
}
