@import "~bootstrap/scss/bootstrap";
@import "./Typography";


body, p {
  @include paragraph($fontSizeL);
  @include media-breakpoint-down(xs) {
    @include paragraph($fontSizeM);
  }
}

h1 {
  @include headline($fontSizeXL);
  @include media-breakpoint-down(xs) {
    @include headline($fontSizeL);
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin-bottom: 1.2em;
}

p {
  white-space: pre-wrap;
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 2em;
  }
}

b {
  font-weight: 500;
}

svg {
  & * {fill: currentColor;}
}
