@import "../Styles/Global";

.Portrait {
  width: 250px;
  height: 250px;
  @include media-breakpoint-down(sm) {
    margin-top: -$standardSpacing;
    margin-bottom: $standardSpacing;
  }
}

.Headline {

}

.LogoGraveyard {
  margin-top: $standardSpacing;
  max-width: 100%;
  @include media-breakpoint-up(lg) {
    max-width: 70%;
  }
}
