@import "../Styles/Global";

.paragraph {
  @include paragraph($fontSizeM);
}

.image {
  position: relative;
  margin-top: -3%;
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.ReactPlayer {
  position: relative;
  margin-left: auto;
  margin-top: -3%;
  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-right: auto;
  }
}
